html {
  scroll-behavior: smooth;
}

body {
  opacity: 1;
  transition: 1s opacity;
  box-sizing: border-box;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

.container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  filter:drop-shadow(8px 8px 10px gray);
  border-radius: 50px;
  animation-duration: myMove 5s infinite;
}

@keyframes myMove {
  0% {left: 0px;}
  100% {right: 200px;}
}

@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.2,1.2);
  }
  100% {
      transform: scale(1,1);
  }
}

.container img {
animation: zoominoutsinglefeatured 15s forwards;
}

.container {
  position: center;
  text-align: center;
  color: blue;
}

.overlay {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  opacity: 0;
  transition: .5s ease;
  background-color: blue;
}

.overlay:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.row {
  display: flex;
}

p {
  color:blue;
}

p:hover {
  color:red;
}

.column {
  flex: 50%;
}

.table {
  width: 50%;
  border: 3px solid blue;
  padding: 0.5em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 30%;
}

.table th {
  background-color: blue;
  color: aliceblue;
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  border: 2px black;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email], .form-container input[type=telephone] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus, .form-container input[type=telephone]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.footer p {
  text-align: center;
  font-weight: bold;
  color: blue;
}
.navbar {
  padding: 8px;
  background-color: blue;
}

.navbar li {
  display: inline;
  padding: 8px;
  color:aliceblue;
}

.navbar li:hover {
  background-color:red;
}